
*.DS_Store
MenakaModel_rsim_rtw/*
slprj/*
src/dependences/HortiMED-Modelling-Platform-main/
*.slxc
auxiliar_files/output_variables_MenakaModel.mat
auxiliar_files/Menaka_parameters_simulink_Structure.mat
auxiliar_files/external_climate_rsim.mat
MenakaModel
simulations/*
*.asv
